easydict==1.9
ipdb==0.13.3
google-cloud-storage
lmdb==1.0.0
pyflakes==2.2.0
PyYAML==5.3.1
tqdm
tensorboard
scikit-learn
omegaconf
pickle5
matplotlib
tokenizers>=0.10.2
ftfy
regex
datadings
diffusers
wandb
timm
transformers
tpu-info
pandas
pycocotools
einops
git+https://github.com/openai/CLIP.git
